.paginationBtn {
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #7b3aed;
  background: white;
}
.spantext {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  background: white;
}
.upperSpan {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  background: white;
}
