@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles here */
.MuiSlider-thumb {
  background: white !important;
  border-radius: 100px !important;
  border: 2px solid #7a39ea !important;
  height: 15px !important;
  width: 15px !important;
}
.MuiSlider-rail {
  background: #e5e6ea !important;
}
.MuiSlider-track {
  background: #7a39ea !important;
  border: none;
}
